body {
  margin: 50px 0;
}

.container {
  max-width: 1025px;
}

.search-bar {
  margin: 30px 0;
}

.shows-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shows-wrapper .card {
  width: 24%;
  height: 620px;
  margin-bottom: 1.5%;
}

.card-title {
  margin: 10px 0 10px 0;
}

.card-text {
  height: 60%;
}

.btn-show-details {
  position: initial;
}

/* Show Preview CSS */

.show-preview {
  position: fixed;
  top: 10%;
  left: 50%;
  display: none;
  width: 90%;
  max-width: 1100px;
  height: fit-content;
  background: white;
  transform: translate(-50%, 0);
  z-index: 1;
  overflow: hidden;
}

.show-preview .card {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.show-preview .card-body {
  /* flex-grow: 1; */
  position: initial;
  /* min-height: 200px; */
  max-height: 590px;
  width: 54%;
  margin: 0 15px;
}

.card-preview-bg {
  flex-grow: 1;
  width: calc(2 * 210px);
  height: calc(2 * 295px);
  background-size: cover;
  background-position: center;
}

.show-preview .card-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.genres {
  margin-bottom: 15px;
}

.genres .badge {
  font-size: 14px;
  margin-right: 10px;
}

.premiered {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 15px;
}

.averageRuntime {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 40px;
}

.show-preview .card-text {
  min-height: 240px;
}

.show-preview .btn {
  position: initial;
  right: 40px;
}

/*  */
