.container {
  max-width: 1025px;
}

/* Header */

.header__search-bar__input {
  width: 24vw;
}

/* main content */

.shows-wrapper .card {
  width: 24%;
  height: 590px;
}

.btn-show-details {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

/* Show Preview CSS */

.show-preview {
  top: 10%;
  max-width: 1100px;
  height: fit-content;
}

.show-preview .card {
  flex-direction: row;
}

.card-preview-bg {
  width: 420px;
  height: 590px;
}

.show-preview .card-body {
  max-height: 590px;
  width: 54%;
  margin: 0 15px;
}

.show-preview .card-text {
  min-height: 260px;
}
