body {
  margin: 50px 0;
}

.search-bar {
  margin: 30px 0;
}

.shows-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shows-wrapper .card {
  width: 24%;
  margin-bottom: 1.5%;
}

.card-title {
  margin: 10px 0 10px 0;
}

.card-text {
  height: 160px;
}

/* Show Preview CSS */

.show-preview {
  position: fixed;
  left: 50%;
  top: 5%;
  display: none;
  width: 90%;
  max-width: 1100px;
  height: fit-content;
  background: white;
  transform: translate(-50%, 0);
  z-index: 1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.show-preview .card {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.show-preview .card-body {
  flex-grow: 1;
  width: 54%;
  margin: 0 15px;
}

.card-preview-bg {
  flex-grow: 1;
  width: calc(2 * 210px);
  height: calc(2 * 295px);
  background-size: cover;
  background-position: center;
}

.show-preview .card-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.show-preview .btn {
  right: 40px;
}

/*  */

.btn-show-details {
  position: absolute;
  bottom: 20px;
}
