body {
  margin: 50px 0;
}

.search-bar {
  margin: 30px 0;
}

.shows-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shows-wrapper .card {
  width: 24%;
  margin-bottom: 1.5%;
}

.card-title {
  margin: 10px 0 10px 0;
}

.card-text {
  height: 160px;
}

.show-preview {
  position: fixed;
  left: 50%;
  top: 5%;
  display: none;
  width: 90%;
  max-width: 1100px;
  height: 90%;
  background: white;
  transform: translate(-50%, 0);
  z-index: 1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.show-preview .card {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
}

.card-preview-bg {
  width: calc(1.5 * 210px);
  height: calc(1.5 * 295px);
  background-size: cover;
  background-position: center;
}

.btn-show-details {
  position: absolute;
  bottom: 20px;
}
