.container {
  padding: 0 15px;
}

/* Header */

.header {
  background-color: #343a40;
  color: white;
}

.header__wrapper {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.logo {
  display: flex;
}

.logo__icon {
  font-size: 60px;
  margin-right: 10px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.logo__text__movie {
  color: #007bff;
  font-size: 30px;
  margin-top: 10px;
  line-height: 31px;
}

.logo__text__finder {
  font-size: 40px;
  line-height: 41px;
}

.header__search-bar-section {
  margin: 15px 0;
  display: flex;
  height: 40px;
}

.header__search-bar-section__input-with-label {
  margin: 0 20px 0 0 !important;
  height: 30px;
  width: 80%;
}

.dropdown {
  margin: 40px 0;
}

.shows-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shows-wrapper .card {
  width: 75%;
  /* max-height: 600px; */
  margin-bottom: 1.5%;
}

.card-body {
  position: relative;
  min-height: 280px;
}

.card-title {
  margin: 10px 0 10px 0;
}

.card-text {
  height: fit-content;
}

.btn-show-details {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* Show Preview CSS */

.show-preview {
  position: fixed;
  left: 50%;
  top: 3%;
  display: none;
  width: 90vw;
  height: 95vh;
  /* height: 500px; */
  background: white;
  transform: translate(-50%, 0);
  z-index: 10;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
}

.show-preview .card {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  /* max-width: inherit; */
  overflow-y: scroll;
  /* padding-right: 17px; */
  box-sizing: content-box;
}

.show-preview .card-body {
  /* width: 90vw; */
  position: initial;
  /* height: 100vh; */
  max-height: 500px;
  margin: 0 1px;
}

.card-preview-bg {
  /* width: 100vw; */
  /* height: 100vh; */
  min-height: 500px;
  /* flex-basis: 50%; */
  background-size: cover;
  background-position: center;
}

.show-preview .card-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.genres {
  margin-bottom: 15px;
}

.genres .badge {
  font-size: 14px;
  margin-right: 10px;
}

.premiered {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 15px;
}

.averageRuntime {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
}

.show-preview .card-text {
  height: fit-content;
}

.show-preview .btn {
  position: initial;
  margin: 15px 0 25px 0;
}

/*  */
