body {
  margin: 50px 0;
}

.container {
  max-width: 470px;
}

.search-bar {
  margin: 30px 0;
}

.shows-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shows-wrapper .card {
  width: 75%;
  height: 570px;
  margin-bottom: 1.5%;
}

.card-title {
  margin: 10px 0 10px 0;
}

.card-text {
  height: 160px;
}

.btn-show-details {
  position: absolute;
  bottom: 20px;
}

/* Show Preview CSS */

.show-preview {
  position: fixed;
  left: 50%;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: white;
  transform: translate(-50%, 0);
  z-index: 10;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
}

.show-preview .card {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.show-preview .card-body {
  width: 90vw;
  height: 100vh;
  margin: 0 15px;
  padding-bottom: 100px;
}

.card-preview-bg {
  width: 100vw;
  /* height: 100vh; */
  height: 5000px;
  background-size: cover;
  background-position: center;
}

.show-preview .card-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.genres {
  margin-bottom: 15px;
}

.genres .badge {
  font-size: 14px;
  margin-right: 10px;
}

.premiered {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 15px;
}

.averageRuntime {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
}

.show-preview .card-text {
  height: 75vh;
}

.show-preview .btn {
  right: 40px;
}

/*  */
