.container {
  padding: 0 20px;
}

/* Header */

.header .container {
  padding: 20px;
  gap: 10px;
}

/* main content */

.shows-wrapper {
  justify-content: space-between;
}

.shows-wrapper .card {
  width: 48%;
  height: 570px;
}
