.container {
  max-width: 430px;
}

/* Header */

.header .container {
  padding: 25px;
}

/* main content */

.btn-show-details {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* Show Preview CSS */

.show-preview {
  max-width: 360px;
}
