body {
  margin: 50px 0;
}

.container {
  max-width: 470px;
}

.search-bar {
  margin: 30px 0;
}

.shows-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shows-wrapper .card {
  width: 48%;
  height: 570px;
  margin-bottom: 1.5%;
}

.card-title {
  margin: 10px 0 10px 0;
}

.card-text {
  height: 62%;
}

.btn-show-details {
  /* margin-bottom: 25px; */
}

/* Show Preview CSS */

.show-preview {
  max-width: 360px;
}

/* .show-preview {
  position: fixed;
  left: 50%;
  top: 15%;
  display: none;
  width: 90%;
  max-width: 1100px;
  height: fit-content;
  background: white;
  transform: translate(-50%, 0);
  z-index: 10;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); */
/* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
}

.show-preview .card {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.show-preview .card-body {
  flex-grow: 1;
  width: 54%;
  margin: 0 15px;
}

.card-preview-bg {
  flex-grow: 1;
  width: calc(2 * 210px);
  height: calc(2 * 295px);
  background-size: cover;
  background-position: center;
}

.show-preview .card-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.genres {
  margin-bottom: 15px;
}

.genres .badge {
  font-size: 14px;
  margin-right: 10px;
}

.premiered {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 15px;
}

.averageRuntime {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 40px;
}

.show-preview .btn {
  right: 40px;
} */

.card-text {
  margin-bottom: 25px;
}
