.container {
  max-width: 900px;
}

.shows-wrapper .card {
  width: 29%;
  height: 610px;
  margin-bottom: 1.5%;
}

.card-text {
  max-height: 55%;
}

.btn-show-details {
  margin-bottom: 50px;
}

/* Show Preview CSS */

.show-preview .card-title {
  margin-bottom: 15px;
}

.averageRuntime {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
}
