.container {
  max-width: 770px;
  padding: 0 25px;
}

/* Header */

.header .container {
  padding: 30px;
  flex-direction: row;
  gap: 30px;
}

.header__search-bar__input {
  width: 26vw;
}

/* main content */

.shows-wrapper .card {
  width: 29%;
}

.btn-show-details {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
