.container {
  max-width: 770px;
  padding: 0 25px;
}

/* Header */

.header__wrapper {
  padding: 30px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.header__search-bar-section__input-with-label {
  margin: 0 20px 0 0 !important;
  height: 30px;
  width: 30vw;
}

.shows-wrapper .card {
  width: 29%;
  height: 590px;
  margin-bottom: 1.5%;
}

/* .card-title {
  min-height: 50px;
} */

.card-body {
  position: relative;
  min-height: 200px;
}

.card-text {
  max-height: 55%;
}

.btn-show-details {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* Show Preview CSS */

.show-preview .card-text {
  /* position: initial; */
}

.show-preview .card-title {
  margin-bottom: 15px;
}

.averageRuntime {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
}

.show-preview .card-text {
  min-height: 300px;
}

.show-preview .btn {
  position: initial;
  margin: 15px 0 25px 0;
}
