.container {
  max-width: initial;
}

.shows-wrapper .card {
  width: 29%;
  height: initial;
  margin-bottom: 1.5%;
}

/* Show Preview CSS */

.show-preview .card-title {
  margin-bottom: 15px;
}

.averageRuntime {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
}
